*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

button{
    font-family: 'Montserrat', sans-serif;
}

/* loader */

#loader{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader h2{
    width: 100%;
    font-size: 4vmax;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

#loader h2 .outer{
    width: 100%;
    display: block;
    overflow: hidden;
}

.inner{
    display: block;
}

/*nav section*/

header{
    width: 100%;
}

nav{
    background-color: rgba(255, 255, 255, 0.495);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

nav h1{
    font-size: 2rem;
    font-weight: 700;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu i{
    font-size: 1.6rem;
    color: #000000;
    cursor: pointer;
    display: none;
}

.menuitem a{
    font-size: 1.2rem;
    font-weight: 500;
}

.menuitem a:hover{
    text-decoration: underline;
    text-decoration-color: #00b3ff;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.menuitem a:active{
    color: #00b3ff;
}

.side-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    gap: 1.5rem;
}

.side-menu i{
    color: #000000;
    cursor: pointer;
}

.side-menu li{
    width: 100%;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
}

#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.heading{
    line-height: 1;
}

.heading h2{
    font-size: 5rem;
    font-weight: 800;
}

.heading P{
    font-size: 1.8rem;
    font-weight: 500;
}

.buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.buttons button{
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: solid 1px #000000;
    border-radius: 5px;
    cursor: pointer;
}

#btn1{
    background-color: #000000;
    color: #fff;
}

#btn1:hover {
    color: #000000;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
}

#btn2{
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;
}

#btn2:hover {
    color: #fff;
    background-color: #000000;
    transition: ease-in-out 0.3s;
}

.socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.socials i{
    font-size: 2.4rem;
}

.socials i:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    transition: ease-in-out 0.3s;
}

/*about section*/

#about{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding: 6rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.about-container{
    width: 100%;
}

.heading-section{
    width: 100%;
    text-align: center;
}

.heading-section h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.heading-section hr{
    width: 3rem;
    height: 0.4rem;
    background-color: #00b3ff;
    border-radius: 2rem;
    border: none;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.heading-section p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #525252;
    margin-bottom: 2rem;
}

.about-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.know-me, .education-section{
    width: 45%;
    padding: 1rem;
}

.know-me h3, .education h3, .skills-section h3{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.education-item {
    margin: 1rem 0;
    padding: 0.5rem;
    border-left: 4px solid #00b3ff;
}

.education-item h4 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.education-item p {
    margin: 5px 0 0;
    color: #555;
}

.know-me p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #525252;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.action-button{
    background-color: #00b3ff;
    color: #ffffff;
    padding: 0.7rem 1.1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.2s;
}

.action-button:hover{
    /* transform: translateY(-5px); */
    background-color: #005eff;
}

.skills-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
}

.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.skill-container{
    user-select: none;
    animation: slider 20s infinite linear; /*slider animation applied*/
}

.slider:hover .skill-container{
    animation-play-state: paused;
}

.skill-container img{
    width: 7rem;
    margin: 2rem 1rem 0 1rem;
}

/*slider animation*/
@keyframes slider{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/*project section*/

#projects{
    width: 100%;
    height: auto;
    padding: 6rem 2rem;
}

.project-container{
    width: 100%;
}

.project-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.project-card{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

.project-card img{
    width: 30rem;
    border-radius: 5px;
}

.project-info{
    width: 40%;
}

.project-card h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.project-card p{
    font-size: 1rem;
    font-weight: 500;
    color: #525252;
}

.links{
    display: flex;
    gap: 1rem;
    margin-top: 0.8rem;
}

.live-link{
    background-color: #00b3ff;
    color: #ffffff;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.3s;
}

.live-link:hover{
    background-color: #555;
    color: #fff;
}

.project-card span{
    font-size: 1.7rem;
}

/*contact section*/

#contact{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding: 6rem 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.contact-container{
    width: 100%;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    width: 50vw;
    padding: 4rem 3rem;
    background-color: #ffffff;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    width: 100%;
}

.label{
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.input-field{
    margin-bottom: 2rem;
}

input, textarea{
    font-family: inherit;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
}

.form-group button{
    width: 10rem;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 550;
    background-color: #00b3ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    color: #999999;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/*footer section*/

footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding: 5rem 2rem 2rem 2rem;
    color: #ffffff;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-text{
    width: 40%;
}

.footer-text h2, .footer-links h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-text p{
    font-size: 1rem;
    font-weight: 500;
    color: #999999;
    margin-bottom: 1rem;
}

.footer-links i{
    font-size: 1.8rem;
    color: #fff;
    margin-right: 1rem;
}

.copyright{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #999999;
}

